.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/local.properties
android/key.properties
android/*.jks
android/*.keystore
ios/Pods/
ios/.symlinks/
macos/Pods/
*.iml
.idea/
.vscode/
.DS_Store
.env
__pycache__/
